.header-section {
    background-color: #3b82f6;
    color: white;
    padding: 70px 0;
    text-align: center;
}

.main-content {
    background-color: #f4f4f4;
    padding: 60px 0;
    min-height: 350px;
}

.site-footer {
    background-color: #333;
    color: #ccc;
    padding: 20px 0;
    text-align: center;
}

@media (min-width: 1000px) {
    .col-divider {
        border-right: 3px solid black
    }
}

h3 {
    margin-top: 10px;
    font-weight: bold;
}

.site-footer p {
    margin: 0;
}